h1 {
    text-transform: uppercase;
    color: red;
}

.goals {
    color: #FF0000;
}

.goals .list__item {
    background-color: yellow;
    font-style: italic;
}

ol {
    border: 1px solid red;
}

#main-header {
    color: green;
}

a[href$=".pdf"] {
    color: green;
    font-style: italic;
}

a {
    color: violet;
    text-decoration: none;
}

ul ul {
    text-transform: uppercase;
}

p a {
    color: magenta;
    background-color: mistyrose;
}

.bold {
    font-weight: bold;
}

.bold {
    text-transform: uppercase;
}

p:nth-of-type(2),
p:nth-of-type(3) {
    text-align: right;
    border: 1px solid blue;
    font-size: 20px;
}

h1 {
    color: red;
}

* {
    box-sizing: border-box;
}

.goals .list__item span {
    background-color: yellow;
}
