body {
    font-family: serif;
    font-size: 14px;
    line-height: 1.25;
    color: #777;
}

ul ul {
    font-weight: bold;
    font-style: italic;
}

h1, h2 {
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 0.5px;
    color: black;
    text-transform: capitalize;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 0;
}

.double-line {
    line-height: 2;
}

.mail-box {
    width: 150px;
    background-color: #E3FFF6;
    border: 5px solid #C2E4C2;
    padding: 5px 20px;
}

.mail-box a {
    display: block; 
    word-wrap: break-word; 
}

p {
    text-align: justify; 
}

.our-adv {
    background-image: url('http://picsum.photos/id/357/700/400?blur=5');
    padding-top: 30px;
    padding-bottom: 60px;
    color: white;
    font-size: 16px;
}

.our-adv {
    background-size: cover; 
    background-position: center; 
}
.ruler {
    width: 150px;
    background-color: lime;
    text-align: center;
}
